* {padding: 0; margin: 0;  border: 0;}
html {font-size: 20px; scroll-behavior: smooth;}
body {font-size: 1rem; color: #1d1a1c; line-height: 1.4; font-weight: normal; font-family: "Open Sans"}
a {text-decoration: none; color: #1d1a1c;}
ul, ol {list-style-type: none;}
p {margin-bottom: 1.4rem;}
br {margin:0 !important;}


/* HEADERS */
h1,h3,h4 {font-weight: bold; margin-bottom: 0.25rem; font-family: "Bebas neue";}
h1 { font-size: 4vw;}
h2 {font-size: 3.5vw; margin-top: -0.5rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.2rem;} 

@media only screen and (min-width: 1000px) {
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.65rem;}
}

@media only screen and (min-width: 1300px) {
    h1 {font-size: 2vw;}
    h2 {font-size: 2.5vw;}
} 

@media only screen and (min-width: 2000px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 2rem;}
}

rect {fill: steelblue;}
 
main { display: flex;}
section { display: flex; flex-direction: column; margin-top: 2rem;}
h1,h2 {margin-left: 2rem;}
h2 span.day {text-transform: capitalize;}


section.inputs {height: 34rem; position: relative;}
section.inputs .days {height: 15%;}
section.inputs .time {height: 15%; position: relative;}
section.inputs .time > span {position: absolute; margin-top: 1rem; font-size: 0.7rem;}
section.inputs .time > span:nth-of-type(1) {left: 0;}
section.inputs .time > span:nth-of-type(2) { right: 0;}
section.inputs .time > h3 span {font-size: 0.8rem; margin-left: 0.5rem; display: inline-block;}


input[type=range] { width: 15rem;}
input[type=radio] { display:none; }

input[type=radio] + label { color: #353535; border-radius: 0.2rem; padding: 0.2rem; font-size: 0.8rem; margin-right: 0.3rem; cursor: pointer; width: 1.2rem; display: inline-block; text-align: center;}
input[type=radio]:last-of-type + label { margin-right: 0rem;}
input[type=radio]:checked + label {background: steelblue; color: #fff; border-radius: 0.2rem; padding: 0.2rem; font-size: 0.8rem;}

section.inputs .cities { height: 70%; overflow: scroll;}
section.inputs .cities label {font-size: 0.8rem; display: inline-block; margin-left: 1rem;}
section.inputs .cities > div {position: relative; display: flex; align-items: center; margin: 0.2rem 0;}
section.inputs .cities input {width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;}
section.inputs .cities label::after {border: 0.5px solid #353535; border-radius: 50%; width: 0.5rem; height: 0.5rem; display :block; content: ""; opacity: 1; position: absolute; top: 0.35rem; left: 0.2rem; transition: 300ms ease;}
section.inputs .cities input:checked ~ label::after {background: steelblue; border: 0.5px solid transparent; }
section.inputs .cities input:hover ~ label::after {transform: scale(1.2); transform-origin: center;}